body {
  margin: 0;
  padding: 0;
  background-color: #fff; }

.header {
  background: url("/img/m-h-day.jpg") no-repeat center;
  background-size: cover;
  height: 710px;
  border-radius: 0 0 950px/230px 0; }

.header-wrap {
  margin-left: 220px;
  max-width: 1000px; }
  .header-wrap div:nth-of-type(2) {
    margin-top: 60px; }
    .header-wrap div:nth-of-type(2) .header_button {
      background-color: #699900;
      color: #fff;
      font-family: "Source Sans Pro", sans-serif;
      font-weight: 700;
      font-size: 16px;
      height: 40px;
      width: 125px;
      border: none;
      border-radius: 2px; }
  .header-wrap .header_heading {
    position: relative;
    font-size: 70px;
    margin-top: 80px;
    margin-bottom: 35px;
    max-width: 550px;
    line-height: 0.9;
    z-index: 1;
    color: #2c2f3c;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 900; }
    .header-wrap .header_heading::before {
      content: "";
      position: absolute;
      width: 293px;
      height: 48px;
      top: 81px;
      background-color: #14a0c7;
      z-index: -1; }
  .header-wrap .header_text {
    margin-top: 55px;
    word-spacing: 1px;
    line-height: 1.5;
    font-size: 15px;
    white-space: pre-line;
    font-family: "Source Sans Pro", sans-serif;
    color: #2c2f3c; }

.header-wrap .landing-logo span {
  color: #2c2f3c; }

.landing-logo {
  display: flex; }
  .landing-logo img {
    padding-top: 17px;
    width: 40px;
    height: 40px; }
  .landing-logo p {
    padding-top: 14px;
    margin-top: 0;
    margin-left: 10px;
    font-size: 22px;
    font-weight: 700;
    font-family: "Source Sans Pro", sans-serif;
    color: #2c2f3c; }
    .landing-logo p span {
      position: relative;
      right: 53px;
      top: 16px;
      font-size: 9px;
      font-weight: 700;
      font-family: "Source Sans Pro", sans-serif; }

.login {
  font-family: "Source Sans Pro", sans-serif;
  color: #fff;
  margin-left: 150px;
  font-size: 18px;
  font-weight: 700; }

.section_banner {
  top: 60px;
  margin: 0 auto;
  width: 1100px;
  height: 130px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 5px;
  z-index: 1;
  background: linear-gradient(to right, #699902, #305ecb); }
  .section_banner .section_banner_button {
    background-color: #699900;
    color: #fff;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 700;
    font-size: 16px;
    height: 40px;
    width: 125px;
    border: none;
    border-radius: 2px; }
  .section_banner .section_banner_heading {
    margin-top: 0;
    margin-bottom: 0;
    color: #2c2f3c;
    font-family: "Source Sans Pro", sans-serif;
    font-weight: 900;
    font-size: 27px; }
  .section_banner .section_banner_text {
    color: #c0c3ce;
    font-size: 14px;
    font-family: "Source Sans Pro", sans-serif; }

.section_banner::before {
  content: "";
  position: absolute;
  width: 60px;
  height: 47px;
  left: 260px;
  top: 11px;
  background-color: #14a0c7;
  z-index: -1; }

.footer {
  background-color: #21232e;
  height: 230px;
  display: flex;
  justify-content: center; }
  .footer p {
    width: 310px;
    color: #c0c3ce;
    font-family: "Source Sans Pro", sans-serif; }
  .footer span {
    color: #c0c3ce;
    font-family: "Source Sans Pro", sans-serif; }

.footer_text {
  margin-right: 200px; }

.footer-wrap {
  width: 100%;
  padding-top: 60px;
  display: flex;
  justify-content: space-around;
  align-items: center; }

.section_card_wrap {
  max-width: 1000px;
  margin: 0 auto; }

.section_card {
  text-align: center;
  display: flex;
  border-radius: 4px;
  margin-bottom: 25px;
  background: #21232e; }

.section_card_heading {
  color: #fff;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 20px;
  font-weight: 900; }

.section_card_text {
  text-align: justify;
  width: 450px; }

.section_card_img {
  width: 125%;
  border-radius: 19px;
  padding: 13px 0 13px 13px; }

.section_card_right_container {
  padding: 70px 60px 0 60px;
  color: #c0c3ce; }

.section_link {
  margin-top: 25px;
  color: #c0c3ce;
  font-family: "Source Sans Pro", sans-serif; }

.section_text {
  text-align: center;
  color: #2c2f3c;
  font-size: 35px;
  font-family: "Hind", sans-serif;
  font-weight: 900; }
  .section_text::before {
    content: "";
    position: absolute;
    width: 160px;
    height: 47px;
    top: -5px;
    left: 965px;
    background-color: #14a0c7;
    z-index: -1; }

.section, .section_banner {
  position: relative; }
