$header_landing_logo_style: 'Fresca', sans-serif;
$header_landing_logo_color: #fff;
$header_text_style: 'Fresca', sans-serif;
$marker_color: #ff4d30;
$button_bg_color: #e4ae00;

$font_size: ("s": 9px, "n": 22px, "h": 70px);
$background_img: url("/img/m-h-night.jpg") no-repeat center;
$background_main_color: #1c1e2a;
$heading_color: #fff;

$section_text_bg_color: #383d4f;
$section_text_bg_color2: #2c2f3c;
$section_text_style: 'Fresca', sans-serif;
$section_banner_text_style: "Hind", sans-serif;

$banner_text_style: 'Fresca', sans-serif;
$banner_color:linear-gradient(to right, #e0a700, #952a51);

$footer_bg_color: #383d4f;
$footer_text_style: 'Fresca', sans-serif;