$header_landing_logo_style: "Source Sans Pro", sans-serif;
$header_landing_logo_color: #2c2f3c;
$header_text_style: "Source Sans Pro", sans-serif;
$marker_color: #14a0c7;
$button_bg_color: #699900;

$font_size: ("s": 9px, "n": 22px, "h": 70px);
$background_img: url("/img/m-h-day.jpg") no-repeat center;
$background_main_color: #fff;
$heading_color: #2c2f3c;

$section_text_bg_color: #21232e;
$section_text_bg_color2: #2c2f3c;
$section_text_style: "Source Sans Pro", sans-serif;
$section_banner_text_style: "Hind", sans-serif;

$banner_text_style: "Source Sans Pro", sans-serif;
$banner_color:linear-gradient(to right, #699902, #305ecb);

$footer_bg_color: #21232e;
$footer_text_style: "Source Sans Pro", sans-serif;













