@media print {
  .tm-sidebar,
  .boxes,
  .carousel-indicators,
  #contact,
  .img-contact-us,
  .tm-team-img {
    display: none;
  }

  .tm-main-content {
    padding-top: 0;
    margin: 0;
  }

  body {
    padding-top: 0;
  }

  .tm-team-description-container {
    margin: 0 auto;
    text-align: center;

    padding-top: 0;
    max-width: 750px;
  }

  .tm-team-description-container h2,
  #ideas .tm-section-title {
    text-transform: uppercase;
  }

  .heading .padding-medium {
    text-align: center;
    margin: 0 auto;
    padding-top: 0;
    padding-bottom: 0;
    max-width: 380px;
  }

  .heading .padding-medium ol {
    list-style: none;
    padding-left: 0;
  }

  .heading .padding-medium li:nth-child(2n) {
    text-align: left;
  }

  .heading .padding-medium li:nth-child(2n + 1) {
    text-align: right;
  }

  .heading .padding-medium h2 {
    color: lightskyblue;
    font-weight: 300;
  }

  .flex-2-col,
  .flex-2-col p:last-child,
  .blocks .padding-medium p:last-child,
  section:nth-of-type(2),
  .carousel-inner p,
  .tm-footer p  {
    margin-bottom: 0;
  }

  .flex-2-col .padding-medium,
  .tm-banner {
    padding-bottom: 0;
  }

  .blocks .padding-medium {
    padding-top: 0;
    padding-bottom: 0;
  }

  #tmCarousel {
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 0;
  }

  .blocks .tm-team-description-container p:nth-child(3) {
    letter-spacing: 5px;
    word-spacing: 10px;
    font-style: italic;
  }
}

@media screen {
  .tm-nav-item:hover {
    background-color: lightskyblue;
  }

  .tm-nav-item-link:hover {
    color: #fff;
  }

  .tm-banner {
    background: linear-gradient(to right, lightskyblue, burlywood);
  }

  .tm-banner-inner {
    background-color: #fff;
  }

  .tm-banner-text {
    text-shadow: 5px 5px 3px #333;

    animation-duration: 4s;
    animation-name: slidein;
  }

  @keyframes slidein {
    from {
      transform: translateX(200px);
    }

    to {
      transform: translateX(0);
    }
  }

  .flex-2-col {
    display: flex;
    align-items: center;
  }

  .tm-section-title {
    text-align: center;
  }

  .tm-team-description-container p:nth-of-type(1),
  .tm-team-description-container p:nth-of-type(2) {
    text-indent: 25px;
    text-align: left;
  }


  .box-bg:hover {
    background-color: lightgrey;
    color: lightskyblue;
  }

  .heading h2 {
    text-align: center;
    color: lightskyblue;
  }

  .tm-content-box ol {
    list-style-type: lower-alpha;
  }

  .heading a:hover::before {
    content: ">";
    display: inline-block;

    color: #333;
  }

  .heading li:nth-child(1)::after,
  .heading li:nth-child(3)::after {
    content: "New";
    font-weight: bold;
    font-variant: small-caps;
    vertical-align: super;

    font-size: 11px;
    color: red;
  }

  .blocks div h2 {
    text-align: left;
  }

  .blocks .tm-team-description-container p:nth-child(3) {
    letter-spacing: 5px;
    word-spacing: 10px;
    font-style: italic;
  }

  .box-work div {
    padding: 0px 10px 10px 10px;
  }

  .box-work img {
    padding: 10px 10px 0px 10px;
  }

  .blocks li:nth-child(2n + 1) {
    background-color: lightskyblue;
    color: #fff;
  }

  .box-work div p::first-letter {
    font-weight: bold;
  }

  .tm-section-description {
    text-indent: 25px;
    line-height: 30px;
  }

  #contact h2 {
    text-align: left;
  }

  #contact_name,
  #contact_email,
  #contact_subject {
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: lightskyblue;
  }

  #contact_name:focus,
  #contact_email:focus,
  #contact_subject:focus {
    background-color: lightskyblue;
  }

  .submit-btn {
    border-color: lightskyblue;
    background-color: #fff;
    color: lightskyblue;

    float: right;
    height: 50px;
    width: 100px;
    font-size: 14px;
  }

  #contact textarea {
    border: 1px solid lightskyblue;
    box-shadow: none;

    background: url("/img/email-icon.png") no-repeat bottom 10px right 10px;
    background-size: 32px;
  }

  .tm-main-nav,
  section,
  #home {
    box-shadow: 0px 0px 9px rgba(61, 55, 61, 0.7);
  }

  section::before {
    content: "";

    border-top: 50px solid lightskyblue;
    border-right: 50px solid transparent;
  }
}
